.backG {
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.backG2 {
    border: solid 1px black;
    border-radius: 5px;
    padding: 0 25px;
}